*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

html {
  font-size: 16px;
}

li {
  list-style: none;
}

h1 {
  font-size: 1.2rem;
}

#nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

#nav-links {
  display: flex;
  gap: 12px;
}

#book-container {
  width: 100%;
}

#books {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid #333333a0;
}

.remove {
  width: fit-content;
  padding: 4px;
  border: 1px solid #333333a0;
  font-weight: 600;
}

hr {
  width: 50px;
}

#book-list,
#myForm,
#contact-me {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 32px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 86%;
  margin: 0 auto;
}

form h2 {
  margin-bottom: 12px;
}

input {
  padding: 10px;
  border: 1px solid #333333a0;
  font-weight: 600;
  width: 100%;
}

#submit {
  padding: 10px;
  width: fit-content;
  align-self: flex-end;
  font-weight: 600;
}

.remove,
#submit {
  cursor: pointer;
}

.awesome-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.awesome-book h2 {
  font-weight: 600;
  font-size: 1rem;
}

.awesome-book:nth-child(odd) {
  background: #8080804f;
}

#hero h2 {
  text-align: center;
  margin-top: 24px;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.nav-link:active {
  color: blue;
}

.active {
  border-bottom: 1px solid blue;
}

.hidden {
  display: none !important;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  padding: 20px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: blue;
  transform: translateY(-10px);
}
